.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock


ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCv/I6GnS5jIZeW2dUSTsL+lMuee0cN8itRUDhyKqG20Ob+7WD6LYvBWgdslxLQEjouULw94Ju18f68RRmSKW1DRB745Ndw9LXrvkgXg5rsIaHnyit7t2HvktoeFZVp/4rftezGzEeWa21oq3pfTSFF6InEiGC16n+pw7g19NkwatXjkiQRh5AhtUnkVhqXG4nhquqt/V1shFm10Ya37ph5qyIBU4lk1qay1DpqSg/NJLMlX5I9iMsFrA95VEfdhfCTn2xByhFdBBKXq6FdvsPHc2B64Z5mBCBoCFcbH9ueZB052Qsa+Rze2/XCC21My765OH2MVVxdMUno35ACotCqvVht+PkJQQGuByAVRKuIcBBXtZUOTp/Ica/im456tAHgy0SpdUTLYboVJwI8KjNJ8Su0wjlfxJqZfJROzL68AYhAJgoNZVJb/zH2v6eC4WOEuTHsfD2X7P9+miN3d0KL+gYuzKaPD16EDvSNMTQsstvu6M+zgEDcIzlxLckgMmc= vsc@oil.jp